<main class="about">
	<section class="about-contents1">
		<strong class="font-l text-center">
			What is InMyCloset?
		</strong>
	</section>
	<section class="about-contents2">
		<strong class="font-m text-center">
			-Purpose-
		</strong>
		<br>
		<strong class="font-xs">
			I want to make fashion life good.<br>
			Fashion is one of the "basic needs" for a human being.<br>
			There are countless awesome clothes in the world that I've never seen.<br>
			Everyone is looking for them.<br>
			<br>
			But, have you experienced something like this?<br>
			<br>
			<strong class="font-s">
				"What clothes do I have?"<br><br>
			</strong>
			In those cases you should use this application InMyCloset.<br>
			InMyCloset will able you to take your closet everywhere.<br>
			Once you add your clothes to InMyCloset, you can see them everywhere.<br>
		</strong>
		<strong class="font-m text-center">
			-Functions-
		</strong>
		<br>
		<strong class="font-xs">
			・You can see other people's closets.<br>
			・You can favorite all clothes you like.<br>
			・You can follow all people you like.
		</strong>
	</section>
	<section class="about-contents3">
		<strong class="font-l text-center">
			<%= link_to "Sign up here", new_user_registration_path, class: "link" %>
			<!-- サインアップ画面へのリンク -->
		</strong>
	</section>
</main>