<div class="col-xs-10 col-xs-offset-1 about">
	<h1><strong>What is InMyCloset?</strong></h1>

	<br><br>

	<span><strong style="text-decoration: underline;">1.About "InMyCloset"</strong></span>

	<br><br>

	<ul style="list-style: none;">
		<li><strong style="font-size: 30px;">1-1</strong> "InMyCloset" enables you all to check what you have in your closet anytime, anywhere.</li>
		<li><strong style="font-size: 30px;">1-2</strong> "InMyCloset" enables you all to share your clothes and closet with anyone.</li>
		<li><strong style="font-size: 30px;">1-3</strong> "InMyCloset" enables you all to enjoy fashion referencing other users all over the world.</li>
	</ul>

	<br><br>

	<span><strong style="text-decoration: underline;">2.How to use "InMyCloset"</strong></span>

	<br><br>

	<ul style="list-style: none;">
		<li><strong style="font-size: 30px;">2-1</strong> You take the picture of your clothes which you want to add.</li>
		<li><strong style="font-size: 30px;">2-2</strong> You fill in required items(brand, size, the picture, category) from your "MyPage".</li>
		<li><strong style="font-size: 30px;">2-3</strong> Let's enjoy shopping and sharing your clothes!</li>
	</ul>

	<br>

	<span><strong>⚠️You can not use the above function without sign up</strong></span>
	<br>

	<strong style="font-size: 30px;">
		<%= link_to "☞ Sign up here!", new_user_registration_path %>
	</strong>

	<br><br>

	<span><strong style="text-decoration: underline;">3.About Details</strong></span>

	<br><br>

	<ul style="list-style: none;">
		<li><strong style="font-size: 30px;">3-1</strong> Alphabet of size is capitalized when you add your clothes.(Example : m -> M)</li>
		<li><strong style="font-size: 30px;">3-2</strong> Brand of first letter is capitalized when you add your clothes.(Example : gucci -> Gucci)</li>
		<li><strong style="font-size: 30px;">3-3</strong> Follow and Favorite function can be used.(You can not use the function without sign up.)</li>
	</ul>

	<br><br>

	<span><strong style="text-decoration: underline;">Inventor</strong></span>

	<br><br>
	<strong style="font-size: 50px;"><%= icon 'fab', 'instagram' %><a href="https://www.instagram.com/k1012g_xx/" style="color: #292929;"> k1012g_xx</a></strong>
</div>
