<div class="container clearfix">
	<div class="width-l about" style="margin: 0 auto;">
		<strong class="text-center font-l" style="display: block; margin-bottom: 30px;">What is InMyCloset?</strong>

		<strong class="text-center font-m" style="text-decoration: underline; display: block; margin-bottom: 17px;">
			1.About "InMyCloset"
		</strong>

		<ul>
			<li>
				<strong>
					1-1
				</strong>
				 "InMyCloset" enables you all to check what you have in your closet anytime, anywhere.
			</li>

			<li>
				<strong>
					1-2
				</strong>
				 "InMyCloset" enables you all to share your clothes and closet with anyone.
			</li>

			<li>
				<strong>
					1-3
				</strong>
				 "InMyCloset" enables you all to enjoy fashion referencing other users all over the world.
			</li>
		</ul>

		<strong class="text-center font-m" style="text-decoration: underline; margin-bottom: 17px; display: block;">
			2.How to use "InMyCloset"
		</strong>

		<ul>
			<li>
				<strong>
					2-1
				</strong>
				 You take the picture of your clothes which you want to add.
			</li>
			<li>
				<strong>
					2-2
				</strong>
				 You fill in required items(brand, size, the picture, category) from your "MyPage".
			</li>
			<li>
				<strong>
					2-3
				</strong>
				 Let's enjoy shopping and sharing your clothes!
			</li>
		</ul>

		<strong class="text-center font-xs" style="color: red;">⚠️You can not use the above function without sign up</strong>
		<br>

		<strong class="text-center font-s" >
			<%= link_to "☞ Sign up here!", new_user_registration_path %>
		</strong>

		<strong class="text-center font-m" style="text-decoration: underline; margin: 17px; display: block;">3.About Details</strong>

		<ul>
			<li>
				<strong>
					3-1
				</strong>
				 Alphabet of size is capitalized when you add your clothes.(Example : m -> M)
			</li>
			<li>
				<strong>
					3-2
				</strong>
				 Brand of first letter is capitalized when you add your clothes.(Example : gucci -> Gucci)
			</li>
			<li>
				<strong>
					3-3
				</strong>
				 Follow and Favorite function can be used.(⚠️You can not use the function without sign up.)
			</li>
		</ul>

		<strong class="text-center font-m inventor" style="text-decoration: underline;">Inventor</strong>

		<strong class="text-center font-m inventor">
			<%= icon 'fab', 'instagram', class: "inventor" %>
			<a href="https://www.instagram.com/k1012g_xx/" style="color: #292929;"> k1012g_xx</a>
		</strong>
	</div>
</div>