<main class="container confirm">
	<strong class="font-m text-center">
		You have not signed in yet.<br>
		<strong class="font-s">
			<!-- ログイン画面へ -->
			<%= link_to "Sign in here!", new_user_session_path %>
		</strong>
	</strong>
	<br>
	<strong class="font-l text-center">
		Unregistered?<br>
		<strong class="font-xs">
			Sign up for using these functions!
			<br>
		</strong>
		⇩
		<ul>
			<li>You can see other people's closets.</li>
			<li>You can favorite all clothes you like.</li>
			<li>You can follow all people you like</li>
		</ul>
		<strong class="font-s">
			<!-- サインアップ画面へ -->
			<%= link_to "Sign up here right now!", new_user_registration_path %>
		</strong>
	</strong>
</main>
