<div class="container">
	<strong class="font-l text-center" style="margin-bottom: 15px;">Favorites</strong>

	<!-- いいねしている投稿一覧 -->
	<% @favorites.each do |fav| %>
		<div class="contents-cloth contents-size">
			<%= render 'clothes/index', clothes: fav.cloth %>
		</div>
	<% end %>
</div>