<strong class="font-l text-center" style="margin-bottom: 15px;">Favorites</strong>
<% @favorites.each do |fav| %>
<!-- いいねしている投稿一覧 -->
	<div class="contents-size border">
		<%= render 'clothes/index', clothes: fav.cloth %>
	</div>
<% end %>