<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul style="list-style: none;">
      <% resource.errors.full_messages.each do |message| %>
        <li style="color: red; text-align: center;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>