<strong class="font-bg text-center">
	<!-- そのページのユーザーネーム -->
	<%= @user.name %>
</strong>
<strong class="font-md text-center">
	Following Users(<%= @following.count %>)
</strong>
<br><br>
<% if @following.blank? %>
<!-- フォローしている人がいない時 -->
	<strong class="font-md">No users.</strong>
	<% if current_user == @user %>
		<strong class="font-md" style="text-decoration: underline;">
			<!-- 検索ページ(ユーザー一覧が観れるため) -->
			<%= link_to "Let's follow users!", search_path %>
		</strong>
	<% end %>
<% else %>
<!-- フォローしている人がいる時 -->
	<% @following.each do |user| %>
		<div class="width-cg">
			<%= render 'users/index', users: user %>
		</div>
	<% end %>
<% end %>