<div class="following clearfix">
	<h2 style="text-align: center;"><strong style="font-size: 40px;"><%= @user.name %></strong></h2>
	<h2 style="text-align: center;"><strong style="font-size: 40px;">Following(<%= @following.count %>)</strong></h2>
	<% if @following.blank? %>
		<h3><strong>No users.</strong></h3>
		<% if current_user == @user %>
			<h3><strong style="text-decoration: underline;"><%= link_to "Let's follow users!", users_path %></strong></h3>
		<% end %>
	<% else %>
		<% @following.each do |user| %>
			<%= render 'users/follow', user: user %>
			<br>
		<% end %>
	<% end %>
</div>