<div class="cloth-new-box">
	<div>
		<h4><strong>Category</strong></h4>
		<%= form.collection_select(:category_id, Category.all, :id, :category) %>
	</div>
	<div>
		<h4><strong>Brand</strong></h4>
		<span>※If you don't know brand name, please fill in "No brand".</span><br>
		<span>※Brand of first letter is capitalized when you add your clothes.(Example : gucci → Gucci)</span><br>
		<%= form.text_field :brand, placeholder: 'Example : Gucci' %>
	</div>
	<div>
		<h4><strong>Size</strong></h4>
		<span>※Alphabet of size is capitalized when you add your clothes.(Example : m → M)</span><br>
		<%= form.text_field :size, placeholder: 'Example : 42/M' %>
	</div>
	<div>
		<h4><strong>Select Image</strong></h4>
		<%= form.attachment_field :image %>
	</div>
</div>