<h2><strong>クローゼットを編集</strong></h2>
<%= form_with(model: @cloth, url: edit_clothes_path) do |form| %>
	<%= render 'clothes/form', form: form %>
	<%= form.submit "更新する", class: "btn btn-default" %>
<% end %>