<h2><strong>クローゼットに追加</strong></h2>
<%= form_with(model: @cloth, url: create_clothes_path) do |form| %>
	<%= render 'clothes/form', form: form %>
	<%= form.submit "追加する", class: "btn btn-default" %>
<% end %>