<!-- プレビュー -->
<div class="col-xs-6" style="text-align: center;">
	<strong class="font-md">Preview</strong>
	<div class="cloth-preview">
		<span style="line-height: 350px; font-size: 30px;">
			<strong>Image is here.</strong>
		</span>
	</div>
	<br>
	<strong>Category : </strong>
	<span>(Example : tops)</span>
	<br>
	<strong>Brand : </strong>
	<span>(Example : Gucci)</span>
	<br>
	<strong>Size : </strong>
	<span>(Example : 42/S)</span>
</div>
<!-- 入力フォーム -->
<div class="col-xs-6">
	<strong class="font-md text-center">Add clothes</strong>
	<%= form_with(model: @cloth, url: create_clothes_path) do |f| %>
		<!-- 入力フォームの部分テンプレート -->
		<%= render 'clothes/form', form: f %>
		<%= f.submit "Add clothes", class: "btn done-btn" %>
		<span>
			<%= link_to "Back", user_path(current_user.id), class: "btn done-btn" %>
		</span>
	<% end %>
</div>