/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* font名の指定 */
body{
	font-family: "Georgia";
}


/* リセットcss */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* clearfix */
.clearfix{
	content: "";
	display: block;
	clear: both;
}

.common-btn{
	background-color: #292929;
	color: #fff;
}
.common-btn:hover{
	background-color: #fff;
	color: #292929;
}

/* layouts/application */
.container{
	margin-top: 30px;
	margin-bottom: 30px;
}

/* layouts/header */
.header{
	width: 100%;
	height: 80px;
	padding: 0 20px;
	background-color: #292929;
	span{
		line-height: 80px;
		text-align: left;
		color: white;
		font-size: 30px;
	}
	a{
		line-height: 80px;
		float: right;
		color: white;
		font-size: 20px;
		padding: 0 20px;
	}
}

/* layouts/footer */
.footer{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #292929;
	span{
		line-height: 60px;
		color: white;
		font-size: 15px;
	}
}

/* layouts/sidebar */
.sidebar-nav{
	list-style: none;
	li{
		font-size: 30px;
		a{
			color: #292929;
		}
	}
}

/* top/top */
h1{
	font-size: 70px;
}

.timeline{
	width: 100%;
	.cloth-box{
		width: 46%;
		float: left;
		margin: 30px 2%;
		padding: 10px;
		border: 1px solid black;
		.timeline_cloth{
			width: 80%;
			height: auto;
		}
		.user_image{
			width: 20%;
			height: auto;
			border-radius: 50%;
			border: 1px solid black
		}
		a{
			color: #292929;
		}
	}
}

.top-contents{
	width: 100%;
	height: 700px;
	background-image: url(closet.jpg);
	background-size: cover;
	background-position: center;
	span{
		background: rgba(100,100,100,0.5);
		width: 100%;
		height: 700px;
		display: block;
		line-height: 700px;
		color: #fff;
		font-size: 20px;
	}
}
.top-contents2{
	width: 100%;
	height: 500px;
	background-image: url(application.jpg);
	background-size: cover;
	background-position: center;
	span{
		width: 100%;
		height: 500px;
		display: block;
		background: rgba(100,100,100,0.5);
		line-height: 500px;
		color: #fff;
		font-size: 20px;
	}
}
.top-contents3{
	a{
		color: red;
	}
	div{
		width: 60%;
		height: 400px;
		margin: 0 auto;
		border: 1px solid black;
	}
	.step1{
		background-image: url(signup.png);
		background-size: cover;
		background-position: center;
	}
	.step2{
		background-image: url(add-clothes.jpg);
		background-size: cover;
		background-position: center;
	}
	.step3{
		background-image: url(shopping.jpg);
		background-size: cover;
		background-position: center;
	}
}

/* top/about */
.about{
	text-align: center;
	span{
		font-size: 30px;
	}
	li{
		font-size: 20px;
		text-align: left;
	}
	a{
		color: red;
	}
}




/* users/show */
.profile-box{
	width: 100%;
}
.profile-box-left{
	width: 45%;
	height: 700px;
	float: left;
	text-align: center;
}
.profile-image{
	width: 90%;
	height: 65%;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 50%;
	overflow: hidden;
}
.profile-box-right{
	width: 55%;
	padding: 5px;
	float: left;
	.upper{
		width: 100%;
		.introduction{
			font-size: 20px;
		}
	}
	.lower{
		width: 80%;
		margin-top: 40px;
		margin-left: 100px;
	}
}
.profile-detail{
	width: 100%;
	height: 30%;
	margin-top: 5%;
	padding: 0 20px;
	strong{
		font-size: 50px;
	}
}
.profile-cloth-box{
	margin: 10px;
	padding: 10px;
	float: left;
	border: double black;
	a{
		color: black;
	}
}

/* users/edit */
.profile-edit-box{
	width: 100%;
	text-align: center;
}
.profile-edit-left{
	width: 45%;
	float: left;
	.edit-image{
		input{
			margin: 0 0 0 140px;
		}
	}
}
.profile-edit-right{
	width: 40%;
	padding: 30px;
	margin-left: 15%;
	float: left;
	text-align: left;
}
.profile-edit-image{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
}

/* users/index */
.users-index-box{
	width: 100%;
	.each-users{
		float: left;
		text-align: center;
		margin-right: 20px;
		a{
			color: black;
		}
		img{
			border: 1px solid black;
			border-radius: 50%;
		}
		strong{
			font-size: 20px;
		}
	}
}

/* users/following */
.following{
	width: 70%;
	margin: 0 auto;
	.following-inner{
		margin-bottom: 15px;
		a{
			color: black;
		}
		img{
			border: 1px solid black;
			border-radius: 50%;
			margin-right: 10%;
		}
		strong{
			font-size: 24px;
			display: inline-block;
			margin-right: 10%;
		}
	}
	strong{
		font-size: 19px;
		line-height: 75px;
	}
	a{
		color: #292929;
	}
	a:hover{
		text-decoration: none;
	}
}


/* cloth/new */
.cloth-new-box{
	width: 100%;
}

/* clothes/show */
.closet{
	width: 100%;
	.upper{
		width: 70%;
		height: 300px;
		margin: 0 auto;
		.left{
			width: 45%;
			text-align: center;
			float: left;
			img{
				border: 1px solid black;
				border-radius: 50%;
			}
			span{
				font-size: 40px;
			}
		}
		.right{
			float: left;
			width: 55%;
			text-align: center;
			span{
			}
		}
	}
	.lower{
		width: 80%;
		margin: 0 auto;
		.cloth{
			float: left;
			margin: 0 10px;
		}
	}
}


/* clothes/index */
.cloth-index{
	.cloth-box{
		float: left;
		text-align: center;
		margin-right: 20px;
		padding: 5px;
		border: double black;
		.user_image{
			border: 1px solid black;
			border-radius: 50%;
		}
		a{
			color: black;
		}
	}
}

/* category/index */
.category-index{
	width: 75%;
	float: left;
}
.category-index-box{
	width: 22%;
	height: 200px;
	margin-right: 3%;
	margin-bottom: 25px;
	border: double black;
	float: left;
	a{
		color: black;
	}
}
.sidebar-box{
	width: 25%;
	float: left;
}

/* users/registraions/new */
.sign-box{
	text-align: center;
}

/* searches/search */
.search{
	width: 80%;
	margin: 0 auto;
	.upper{
		text-align: center;
		width: 100%;
		height: 200px;
		#input{
			width: 240px;
		}
		.lower{

		}
	}
	.lower{
		.each-users{
			float: left;
			width: 200px;
			margin: 0 13.8px;
			margin-bottom: 10px;
			text-align: center;
			img{
				border: 1px solid black;
				border-radius: 50%;
				margin-bottom: 10px;
			}
		}
		.cloth-box{
			float: left;
			width: 200px;
			margin: 0 13.8px;
			.user_image{
				border: 1px solid black;
				border-radius: 50%;
			}
		}
		.categories-index-box{
			float: left;
			width: 200px;
			margin: 0 13.8px;
		}
	}
}

.favorite{
	.content{
		.user_image{
			border: 1px solid black;
			border-radius: 50%;
		}
	}
}