/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';



/* ----------------------- 共通CSS ----------------------- */

/* ----- font名の指定 ----- */

body{
	font-family: "Georgia";
}



/* ----- リセットcss ----- */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* ----- clearfix ----- */

.clearfix{
	content: "";
	display: block;
	clear: both;
}



/* ----- select_tag ----- */

select{
	background-color: #292929;
	color: #fff;
	height: 34px;
}



/* ----- プロフィール画像 ----- */

.user_image{
	border: 1px solid black;
	border-radius: 50%;
}



/* ----- エラー文 ----- */

#flash_alert{
	font-size: 14px;
	color: red;
}



/* ----- aタグのアニメーション ----- */

.atag{
	text-decoration: none;
	a{
		text-decoration: none;
		&:hover{
			opacity: 0.6;
		}
	}
}

a{
	color: #292929;
}



/* ----- ボタン ----- */

.done-btn{
	background-color: #292929;
	color: #fff;
	&:hover{
		background-color: #5D5D5D;
		color: #fff;
	}
}
.done-btn2{
	background-color: #fff;
	color: #292929;
	&:hover{
		opacity: 0.8;
	}
}


/* ----- コンテンツのボーダー ----- */

.border{
	border: 1px solid #D3D3D3;
}



/* ----- 要素の中央寄せ ----- */

.text-center{
	text-align: center;
	display: block;
}



/* ------------------ スマホのレスポンシブ ------------------ */

@media screen and (max-width: 414px){

	.container{
		margin-top: 55px;
		margin-bottom: 35px;
	}

	/* ----- fontサイズの指定 ----- */

	.font-xl{
		font-size: 5rem;
	}
	.font-l{
		font-size: 4.2rem;
	}
	.font-m{
		font-size: 2.5rem;
	}
	.font-s{
		font-size: 2.2rem;
	}
	.font-xs{
		font-size: 1.7rem;
	}

	/* ----- ヘッダー ----- */

	.header{
		width: 100%;
		height: 45px;
		padding: 0 8px;
		position: absolute;
		top: 0;
		background-color: #292929;
		.title{
			color: #fff;
			line-height: 45px;
		}
		.links{
			display: none;
		}
		i{
			color: #fff;
			line-height: 45px;
		}

		/* ----- メニュー ----- */

		#nav{
			position: fixed;
			top: 45px;
			right: -145px;
			width: 145px;
			padding: 15px;
			background-color: rgba(0, 0, 0, 0.77);
			transition: transform 0.9s;
			z-index: 1000;
			ul{
				list-style: none;
				li{
					margin-bottom: 20px;
					font-size: 18px;
					a{
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
		.open{
			transform: translate3d(-145px, 0, 0);
		}
	}

	/* ----- ヘッダー固定 ----- */

	.header.sticky{
		position: fixed;
		top: 0;
		opacity: 0.95;
	}

	/* ----- フッター ----- */

	.footer{
		width: 100%;
		height: 25px;
		text-align: center;
		background-color: #292929;
		opacity: 0.95;
		position: relative;
		strong{
			color: #fff;
			line-height: 25px;
		}


		/* ----- ページ上部に戻るボタン ----- */

		#top-btn{
			position: absolute;
			right: 40px;
			bottom: 45px;
			z-index: 1000;
			font-size: 4rem;
			&:hover{
				opacity: 0.8;
			}
		}
	}


	/* ----- トップ画面(ログイン済) ----- */

	.timeline{
		.contents-size-top{
			width: 100%;
			margin: 0 1%;
			float: left;
			overflow: hidden;
			margin-bottom: 10px;
			.outer{
				margin-bottom: -30px;
			}
			img{
				width: 350px;
			}
			.user_image{
				width: 110px;
				height: 110px;
			}
		}
	}

	/* ----- タイムラインの投稿時間 ----- */

	.time{
		font-size: 3rem;
		text-align: center;
		display: block;
	}

	/* ----- トップ画面(未ログイン) ----- */
	.top{
		.contents1{
			width: 100%;
			height: 200px;
			padding: 70px;
			border: 1px solid black;
			text-align: center;
			background-image: image-url("contents-sm.jpg");
			background-size: cover;
			background-position: center;
			margin-bottom: 50px;
			strong{
				color: #fff;
			}
		}
		.contents2{
			width: 100%;
			height: 200px;
			border: 1px solid black;
			text-align: center;
			background-image: image-url("application.jpg");
			background-size: cover;
			background-position: center;
			margin: 0 auto;
			margin-bottom: 50px;
			strong{
				display: block;
				margin: 100px auto;
				color: #FBFBFB;
				font-size: 13px;
			}
		}
		.contents3{
			margin-bottom: 30px;
			a{
				color: red;
			}
			div{
				width: 80%;
				height: 200px;
				margin: 0 auto;
				margin-bottom: 30px;
				border: 1px solid black;
			}
			.step1{
				background-image: image-url("signup.png");
				background-size: cover;
				background-position: center;
			}
			.step2{
				background-image: image-url("add-clothes.jpg");
				background-size: cover;
				background-position: center;
			}
			.step3{
				background-image: image-url("shopping.jpg");
				background-size: cover;
				background-position: center;
			}
		}
	}


	/* ----- アバウト画面 ----- */

	.about{
		a{
			color: red;
		}
		ul{
			list-style: none;
			font-size: 16px;
			margin-bottom: 8px;
		}
		.inventor{
			color: #292929;
			background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}


	/* ----- ログイン、サインアップ画面のフォーム ----- */

	.form-table{
		table-layout: fixed;
		th{
			width: 70px;
			font-size: 13px;
		}
	}


	/* ----- 横に2要素を並べる ----- */

	.contents-size{
		width: 48%;
		height: 300px;
		padding: 2px;
		margin: 1%;
		float: left;
		overflow: hidden;
		.user_image{
			width: 160px;
			height: 160px;
		}
	}

	/* ----- 横に2要素を並べる(画像サイズ調整あり) ----- */

	.contents-cloth{
		width: 48%;
		height: 350px;
		padding: 3px;
		margin: 1%;
		float: left;
		overflow: hidden;
		img{
			width: 150px;
			height: 150px;
		}
		.user_image{
			width: 60px;
			height: 60px;
		}
	}

	/* ----- 横に2要素を並べる(高さ指定なし) ----- */

	.contents-size-auto{
		width: 48%;
		margin: 1%;
		margin-bottom: 5px;
		float: left;
		padding: 2px;
		overflow: hidden;
		img{
			width: 150px;
			height: 150px;
		}
	}

	/* ----- マイページ ----- */

	.profile{
		margin: 0 auto;
		/* ----- カテゴリー一覧 ----- */

		.category{
			width: 22%;
			float: left;
			strong{
				font-size: 11px;
			}
		}
		/* ----- プロフィール画像サイズ ----- */

		.image{
			width: 100px;
			float: left;
			img{
				width: 100px;
				height: 100px;
			}
		}

		/* ----- プロフィール詳細 ----- */

		.info{
			width: 150px;
			float: left;
			margin-left: 10px;
			/* ----- 自己紹介 ----- */

			.introduction-title{
				font-size: 20px;
			}

			.introduction{
				width: 150px;
				margin: 0 auto;
				margin-top: -10px;
				border: 1px solid #292929;
				padding: 2px;
			}
			/* ----- フォロー ----- */

			.follow{
				strong{
					font-size: 10px;
				}
			}

			/* ----- ボタン ----- */
			.done-btn{
				width: 100%;
				margin-bottom: 3px;
			}
		}
	}

	/* ----- プロフィール編集 ----- */

	.profile-edit-left{
		width: 100%;
		/* ----- プロフィール画像 ----- */

		.user_image{
			width: 200px;
			height: 200px;
			display: block;
			margin: 0 auto;
		}
		.checkbox{
			margin: 0;
			display: inline-block;
		}
		input{
			display: block;
			margin: 0 auto;
		}
	}
	.profile-edit-right{
		width: 220px;
		margin: 10px auto;
	}


	/* ----- 検索画面のテキスト ----- */

	.search-text{
		margin-top: 20px;
		display: block;
		font-size: 13px;
	}

	/* ----- 新規投稿 ----- */

	.preview{
		opacity: 0;
		width: 0;
		height: 0;
	}


	/* ----- 投稿編集 ----- */

	.before-edit{
		margin-bottom: 20px;
		border: 1px solid #292929;
		overflow: hidden;
		.font-s{
			display: none;
		}
	}
	.edit{
		.font-s{
			margin-bottom: -20px;
		}
	}

}






/* ---------------- タブレットのレスポンシブ ---------------- */

@media screen and (min-width: 415px) and (max-width: 990px){

	body{
		margin-top: 80px;
		margin-bottom: 40px;
	}

	.container{
		margin-bottom: 20px;
	}

	.contents-size-top{
		width: 32%;
		height: 350px;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 18px;
		padding-bottom: 10px;
		float: left;
		overflow: hidden;
	}

	/* ----- 横に3要素を並べる ----- */
	.contents-size{
		width: 32%;
		height: 350px;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 18px;
		padding-bottom: 10px;
		float: left;
		overflow: hidden;
	}

	/* ----- 横に3要素を並べる(高さ指定なし) ----- */

	.contents-size-auto{
		width: 32%;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 19px;
		padding-bottom: 10px;
		float: left;
	}

	/* ----- ログイン、サインアップ用のフォーム ----- */

	.form-table{
		table-layout: fixed;
		th{
			width: 88px;
		}
	}

	/* ----- 横幅の指定 -----  */

	.width-xl{
		width: 90%;
	}

	.width-l{
		width: 85%;
	}

	.width-m{
		width: 55%;
	}

	.width-s{
		width: 50%
	}

	.width-xs{
		width: 40%;
	}

	/* ----- fontのサイズ指定 ----- */

	.font-xl{
		font-size: 7rem;
	}

	.font-l{
		font-size: 5rem;
	}

	.font-m{
		font-size: 3.5rem;
	}

	.font-s{
		font-size: 2.5rem;
	}

	.font-xs{
		font-size: 1.5rem;
	}

	/* ----- ヘッダー ----- */

	.header{
		width: 100%;
		height: 50px;
		padding: 0 10px;
		position: absolute;
		top: 0;
		background-color: #292929;
		z-index: 1000;
		.title{
			text-align: left;
			color: #fff;
			line-height: 50px;
		}
		.links{
			display: none;
		}
		i{
			color: #fff;
			line-height: 50px;
			padding-right: 10px;
		}
		#nav{
			position: fixed;
			top: 50px;
			right: -170px;
			width: 170px;
			padding: 20px;
			background-color: rgba(0, 0, 0, 0.77);
			transition: transform 0.9s;
			z-index: 1000;
			ul{
				list-style: none;
				li{
					margin-bottom: 20px;
					font-size: 20px;
					a{
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
		.open{
			transform: translate3d(-170px, 0, 0);
		}
	}

	/* ----- ヘッダー固定 ----- */

	.header.sticky{
		position: fixed;
		top: 0;
		opacity: 0.95;
	}

	/* ----- フッター ----- */

	.footer{
		width: 100%;
		height: 35px;
		text-align: center;
		background-color: #292929;
		opacity: 0.95;
		position: relative;
		strong{
			color: #fff;
			line-height: 35px;
		}
		/* ----- ページ上部に戻るボタン ----- */

		#top-btn{
			position: absolute;
			right: 50px;
			bottom: 60px;
			z-index: 1000;
			&:hover{
				opacity: 0.8;
			}
		}
	}

	/* ----- トップ画面(未ログイン) ----- */

	.timeline{
		.contents1{
			width: 100%;
			height: 300px;
			padding: 120px;
			border: 1px solid black;
			text-align: center;
			background-image: image-url("contents-sm.jpg");
			background-size: cover;
			background-position: center;
			margin-bottom: 50px;
			strong{
				color: #fff;
			}
		}
		.contents2{
			width: 80%;
			height: 300px;
			border: 1px solid black;
			text-align: center;
			background-image: image-url("application.jpg");
			background-size: cover;
			background-position: center;
			margin: 0 auto;
			margin-bottom: 50px;
			strong{
				display: block;
				margin: 140px auto;
				color: #FBFBFB;
			}
		}
		.contents3{
			margin-bottom: 50px;
			a{
				color: red;
			}
			div{
				width: 70%;
				height: 300px;
				margin: 0 auto;
				margin-bottom: 30px;
				border: 1px solid black;
			}
			.step1{
				background-image: image-url("signup.png");
				background-size: cover;
				background-position: center;
			}
			.step2{
				background-image: image-url("add-clothes.jpg");
				background-size: cover;
				background-position: center;
			}
			.step3{
				background-image: image-url("shopping.jpg");
				background-size: cover;
				background-position: center;
			}
		}
	}

	/* ----- アバウト画面 ----- */

	.about{
		a{
			color: red;
		}
		ul{
			list-style: none;
			font-size: 22px;
			margin-bottom: 12px;
		}
		.inventor{
			color: #292929;
			background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}


	/* ----- マイページ ----- */

	.profile{
		margin: 0 auto;
		margin-bottom: 30px;
		.category{
			width: 20%;
			float: left;
		}
		.image{
			float: left;
			margin-left: 15px;
		}
		.info{
			float: left;
			width: 250px;
			margin-left: 15px;
			.introduction{
				margin: 0 auto;
				margin-top: -15px;
				border: 1px solid #292929;
				padding: 2px;
			}
		}
	}

	/* ----- プロフィール編集 ----- */

	.profile-edit-left{
		width: 300px;
		float: left;
		img{
			width: 300px;
			height: 300px;
		}
		.checkbox{
			margin: 0;
			display: inline-block;
		}
		.edit-image{
			width: 300px;
		}
	}
	.profile-edit-right{
		width: 220px;
		float: left;
		margin: 60px 0 0 60px;
	}

	/* ----- 投稿のjsを無効 ----- */

	.outer{
		.cover{
			display: none;
		}
	}

	/* ----- 新規投稿画面 ----- */

	.preview{
		margin: 0 6%;
		width: 40%;
		float: left;
		div{
			margin: 0 auto;
			border: 1px solid #292929;
			height: 300px;
			strong{
				font-size: 15px;
				line-height: 300px;
			}
		}
	}
	.new{
		width: 44%;
		float: left;
	}


	/* ----- 投稿の編集画面 ----- */

	.before-edit{
		width: 40%;
		margin: 0 5%;
		float: left;
		img{
			width: 280px;
			height: 280px;
		}
	}
	.edit{
		width: 45%;
		float: left;
	}


}



/* ------------------- PCのレスポンシブ ------------------- */

@media screen and (min-width: 991px) {

	.container{
		margin: 30px auto;
		margin-bottom: 60px;
	}

	body{
		margin-top: 80px;
		margin-bottom: 60px;
	}

	/* ----- 横幅の指定 ----- */

	.width-xl{
		width: 100%;
	}

	.width-l{
		width: 85%;
	}

	.width-m{
		width: 60%;
	}

	.width-s{
		width: 45%
	}

	.width-xs{
		width: 30%;
	}

	/* ----- ログイン、サインアップのフォーム ----- */

	.form-table{
		table-layout: fixed;
		th{
			width: 100px;
		}
	}
	.sign-section1{
		width: 100%;
		height: 650px;
		background-attachment: fixed;
		background-image: image-url("signin-image.jpg");
		background-size: cover;
		background-position: center;
	}

	/* ----- 検索画面 ----- */
	.search-section1{
		width: 100%;
		height: 500px;
		padding-top: 100px;
		background-attachment: fixed;
		background-image: image-url("search-image.jpg");
		background-size: cover;
		background-position: top;
		strong{
			color: #fff;
		}
	}

	/* ----- トップ画面(ログイン済)の
	コンテンツのサイズ調整 ----- */

	.timeline{
		.contents-size-top{
			width: 24%;
			height: 350px;
			margin-bottom: 1%;
			margin-right: 1%;
			padding-left: 18px;
			padding-bottom: 10px;
			float: left;
			overflow: hidden;
		}
	}

	/* ----- 横に4要素を並べる ----- */

	.contents-size{
		width: 24%;
		height: 350px;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 18px;
		padding-bottom: 10px;
		float: left;
		overflow: hidden;
	}

	/* ----- 横に4要素を並べる(高さ指定なし) ----- */

	.contents-size-auto{
		width: 24%;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 19px;
		padding-bottom: 10px;
		float: left;
		background-color: #fff;
	}

	/* ----- fontのサイズ指定 ----- */

	.font-xl{
		font-size: 9rem;
	}

	.font-l{
		font-size: 7rem;
	}

	.font-m{
		font-size: 5rem;
	}

	.font-s{
		font-size: 4rem;
	}

	.font-xs{
		font-size: 2rem;
	}


	/* ----- ヘッダー ----- */

	.header{
		width: 100%;
		height: 80px;
		padding: 0 20px;
		position: absolute;
		top: 0;
		background-color: #292929;
		z-index: 1000;
		span{
			text-align: left;
		}

		a{
			line-height: 80px;
			float: left;
			color: white;
			font-size: 20px;
			padding: 0 20px;
		}

		#nav{
			display: none;
		}

		.header-links{
			i{
				display: none;
			}
		}
	}


	/* ----- ヘッダー固定 ----- */

	.header.sticky{
		position: fixed;
		top: 0;
		opacity: 0.95;
	}

	/* ----- フッター ----- */

	.footer{
		width: 100%;
		height: 60px;
		opacity: 0.95;
		text-align: center;
		background-color: #292929;
		position: relative;
		strong{
			color: #fff;
			line-height: 60px;
		}
		/* ----- ページ上部に戻るボタン ----- */

		#top-btn{
			position: absolute;
			right: 80px;
			bottom: 75px;
			z-index: 1000;
			font-size: 50px;
			color: #fff;
			text-shadow: 0px 0px 5px black;
			&:hover{
				opacity: 0.8;
			}
		}
	}


	/* ----- トップ画面(未ログイン) ----- */


	main{
		width: 100%;
		z-index: 0;
		.section1{
			width: 100%;
			height: 700px;
			padding-top: 250px;
			background-attachment: fixed;
			background-image: image-url("top-image.jpg");
			background-size: cover;
			background-position: center;
			.inner{
				width: 60%;
				margin: 0 auto;
				.title{
					color: #fff;
					line-height: 100px;
					text-shadow: 0px 0px 5px #fff;
					-webkit-animation: blink 1.7s ease-in-out infinite alternate;
					-moz-animation: blink 1.7s ease-in-out infinite alternate;
					animation: blink 1.7s ease-in-out infinite alternate;
				}
				@-webkit-keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@-moz-keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
			}
		}
		.section2,
		.section3,
		.section4{
			width: 100%;
			height: 800px;
			background-size: cover;
			background-position: center;
		}
		.section3,
		.section4{
			padding-top: 350px;
		}
		.section2{
			padding-top: 300px;
			background-image: image-url("top-image2.jpg");
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px black;
			}
		}
		.section3{
			background-attachment: fixed;
			background-image: image-url("top-image3.jpg");
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px black;
			}
		}
		.section4{
			background-image: image-url("top-image4.jpg");
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px #fff;
			}
		}
		.section5{
			width: 100%;
			margin-top: 50px;
			height: 740px;
			div{
				height: 100%;
				padding-top: 400px;
				background-size: cover;
				background-position: center;
				strong{
					a{
						color: #fff;
						text-decoration: none;
					}
				}
			}
			div:first-child{
				background-image: image-url("top-image5.jpg");
			}
			div:nth-child(2){
				background-image: image-url("top-image7.jpg");
			}
			div:last-child{
				background-image: image-url("top-image6.jpg");
			}
		}
	}


	/* ----- アバウト画面 ----- */

	.about{
		width: 100%;
		.about-section1{
			width: 100%;
			height: 300px;
			padding-top: 70px;
			background-attachment: fixed;
			background-image: image-url("about-image.jpg");
			background-size: cover;
			background-position: center;
			strong{
				color: #fff;
			}
		}
		.about-section2{
			width: 55%;
			margin: 20px auto;
			padding-bottom: 35px;
		}
		.about-section3{
			width: 100%;
			height: 350px;
			padding-top: 120px;
			background-attachment: fixed;
			background-image: image-url("top-image6.jpg");
			background-size: cover;
			background-position: center;
			strong{
				a{
					color: #fff;
					text-decoration: none;
					text-shadow: 0px 0px 5px #fff;
					-webkit-animation: blink 1.7s ease-in-out infinite alternate;
					-moz-animation: blink 1.7s ease-in-out infinite alternate;
					animation: blink 1.7s ease-in-out infinite alternate;
				}
				@-webkit-keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@-moz-keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
			}
		}
	}


	/* ----- 新規投稿画面 ----- */

	.preview{
		margin: 0 8%;
		width: 30%;
		float: left;
		div{
			margin: 0 auto;
			border: 1px solid #292929;
			strong{
				line-height: 350px;
				font-size: 30px;
			}
		}
	}
	.new{
		width: 50%;
		float: left;
	}


	/* ----- 投稿編集画面 ----- */

	.before-edit{
		margin: 0 9%;
		width: 30%;
		float: left;
	}
	.edit{
		widh: 50%;
		float: left;
	}


	/* ----- プロフィール画面 ----- */
	.profile{
		.upper{
			width: 100%;
			margin: 30px auto;
			div{
				height: 400px;
				float: left;
			}
			.left{
				width: 30%;
				img{
					display: block;
					margin: 0 auto;
				}
			}
			.right{
				width: 30%;
				.introduction{
					width: 80%;
					height: 100px;
					margin: 0 10%;
					margin-bottom: 10px;
					border: 1px solid #292929;
					overflow-y: scroll;
					background-color: #fff;
				}
			}
		}
	}
	.lower{
		width: 100%;
		ul{
			text-align: center;
			white-space: nowrap;
			overflow-x: scroll;
			li{
				border: 1px solid black;
				display: inline-block;
				background-color: #fff;
				height: 40px;
				a{
					color: #292929;
					text-decoration: none;
					padding: 0 10px;
					line-height: 40px;
				}
				a.active{
					color: #fff;
				}
			}
			li.active{
				background-color: #292929;
			}
		}
		.tabContent{
			width: 100%;
			.tab-contents{
				width: 100%;
				height: 400px;
				margin: 0 auto;
			}
		}
	}

	/* ----- プロフィール編集画面 ----- */

	.profile-edit-left{
		float: left;
		margin: 0 auto;
		.user_image{
			margin: 0 auto;
			border: 1px solid black;
			border-radius: 50%;
			overflow: hidden;
		}
		.edit-image{
			.checkbox{
				margin: 0;
				display: inline-block;
			}
			input{
				margin: 0 0 0 150px;
			}
		}
	}
	.profile-edit-right{
		margin-top: 100px;
		margin-left: 100px;
		float: left;
		text-align: left;
		.form-field{
			width: 300px;
		}
		.form-area{
			width: 300px;
			height: 100px;
		}
	}


	.follow{
		.follow-link{
			a{
				text-decoration: none;
			}
			a:hover{
				opacity: 0.8;
			}
		}
		ul{
			text-align: center;
			margin: 50px auto;
			li{
				border: 1px solid black;
				display: inline-block;
				background-color: #fff;
				height: 61px;
				width: 48%;
				a{
					color: #292929;
					text-decoration: none;
					padding: 0 10px;
					line-height: 61px;
				}
				a.active{
					color: #fff;
				}
			}
			li.active{
				background-color: #292929;
			}
		}
		.follow-contents{
			width: 100%;
			height: 400px;
			margin: 0 auto;
		}
	}


	/* ----- jQuery ----- */
	.outer{
		position: relative;
		margin-top: 10px;
		overflow: hidden;
		.cover{
			position: absolute;
			display: block;
			opacity: 0;
			text-shadow: 2px 2px 8px #fff;
			color: #292929;
		}
	}

}