/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


/* スマホ レスポンシブ */
@media screen and (max-width: 414px){
}

/* スマホ横画面 & タブレット縦画面 レスポンシブ */
@media screen and (min-width: 415px) and (max-width: 990px){

	body{
		margin-top: 80px;
	}

	.header{
		width: 100%;
		height: 50px;
		background-color: #292929;
		position: absolute;
		top: 0;
		z-index: 1000;
		span{
			text-align: left;
			color: #fff;
			line-height: 50px;
			font-size: 200%;
			padding-left: 20px;
		}
		.links{
			display: none;
		}
		i{
			color: #fff;
			font-size: 200%;
			line-height: 50px;
			padding-right: 10px;
		}
		#nav{
			position: fixed;
			top: 50px;
			right: -110px;
			width: 110px;
			height: 140px;
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.77);
			transition: transform 0.9s;
			z-index: 1000;
			ul{
				list-style: none;
				li{
					margin-bottom: 5px;
					a{
						color: #fff;
						text-decoration: underline;
					}
				}
			}

		}
		.open{
			transform: translate3d(-110px, 0, 0);
		}
	}

	.header.sticky{
		position: fixed;
		top: 0;
		opacity: 0.95;
	}

	.footer{
		width: 100%;
		height: 38px;
		background-color: #292929;
		strong{
			color: #fff;
			line-height: 38px;
		}
	}

	.top-contents{
		width: 100%;
		height: 250px;
		border: 1px solid black;
		text-align: center;
		background-image: url(contents-sm.jpg);
		background-size: cover;
		background-position: center;
		span{
			display: block;
			margin: 115px auto;
			color: #FBFBFB;
		}
	}
	.top-contents2{
		width: 70%;
		height: 200px;
		border: 1px solid black;
		text-align: center;
		background-image: url(application.jpg);
		background-size: cover;
		background-position: center;
		margin: 0 auto;
		span{
			display: block;
			margin: 80px auto;
			color: #FBFBFB;
		}
	}
	.top-contents3{
		a{
			color: red;
		}
		div{
			width: 70%;
			height: 300px;
			margin: 0 auto;
			border: 1px solid black;
		}
		.step1{
			background-image: url(signup.png);
			background-size: cover;
			background-position: center;
		}
		.step2{
			background-image: url(add-clothes.jpg);
			background-size: cover;
			background-position: center;
		}
		.step3{
			background-image: url(shopping.jpg);
			background-size: cover;
			background-position: center;
		}
	}
	.font-bg{
		font-size: 50px;
	}
	.font-md{
		font-size: 35px;
	}

	.about{
		text-align: center;
		span{
			font-size: 30px;
		}
		li{
			font-size: 20px;
			text-align: left;
		}
		a{
			color: red;
		}
	}

	.form-table{
		table-layout: fixed;
		th{
			width: 100px;
		}
	}

}






/* PC画面 レスポンシブ */
@media screen and (min-width: 991px) {

	/* 1列に4要素を並べる */
	.width4{
		width: 24%;
		height: 350px;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 18px;
		padding-bottom: 10px;
		float: left;
		overflow: hidden;
	}

	/* 1列に4要素を並べる(高さ指定なし) */
	.width4-auto{
		width: 24%;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 19px;
		padding-bottom: 10px;
		float: left;
	}

	/* ヘッダー */
	.header{
		width: 100%;
		height: 80px;
		padding: 0 20px;
		position: absolute;
		top: 0;
		background-color: #292929;
		z-index: 1000;
		span{
			text-align: left;
		}
		a{
			line-height: 80px;
			float: left;
			color: white;
			font-size: 20px;
			padding: 0 20px;
		}
		#nav{
			display: none;
		}
		i{
			display: none;
		}
	}

	.header.sticky{
		position: fixed;
		top: 0;
		opacity: 0.95;
	}

	/* フッター */
	.footer{
		width: 100%;
		height: 60px;
		text-align: center;
		background-color: #292929;
		strong{
			color: #fff;
			line-height: 60px;
		}
	}

	/* 投稿編集画面 */
	.cloth-preview{
		width: 350px;
		height: 350px;
		margin: 0 auto;
		border: double black;
	}

	/* トップ画面(未サインイン) */
	h1{
		font-size: 70px;
	}

	.top-contents{
		width: 100%;
		height: 700px;
		background-image: url(contents-sm.jpg);
		background-size: cover;
		background-position: center;
		span{
			background: rgba(100,100,100,0.5);
			width: 100%;
			height: 700px;
			display: block;
			line-height: 700px;
			color: #fff;
			font-size: 20px;
		}
	}
	.top-contents2{
		width: 100%;
		height: 500px;
		background-image: url(application.jpg);
		background-size: cover;
		background-position: center;
		span{
			width: 100%;
			height: 500px;
			display: block;
			background: rgba(100,100,100,0.5);
			line-height: 500px;
			color: #fff;
			font-size: 20px;
		}
	}
	.top-contents3{
		a{
			color: red;
		}
		div{
			width: 70%;
			height: 400px;
			margin: 0 auto;
			border: 1px solid black;
		}
		.step1{
			background-image: url(signup.png);
			background-size: cover;
			background-position: center;
		}
		.step2{
			background-image: image-url(add-clothes.jpg);
			background-size: cover;
			background-position: center;
		}
		.step3{
			background-image: url(shopping.jpg);
			background-size: cover;
			background-position: center;
		}
	}

	/* アバウト画面 */
	.about{
		text-align: center;
		span{
			font-size: 30px;
		}
		li{
			font-size: 20px;
			text-align: left;
		}
		a{
			color: red;
		}
	}

	/* プロフィール編集 */

	.introduction{
		width: 300px;
		margin: 0 auto;
		margin-top: -15px;
		border: double black;
		padding: 10px;
	}

	.profile-edit-left{
		width: 55%;
		float: left;
		margin: 0 auto;
		.edit-image{
			input{
				margin: 0 0 0 150px;
			}
		}
	}
	.profile-edit-right{
		width: 40%;
		padding: 30px;
		margin-left: 0%;
		float: left;
		text-align: left;
	}
	.profile-edit-image{
		width: 500px;
		height: 500px;
		margin: 0 auto;
		border: 1px solid black;
		border-radius: 50%;
		overflow: hidden;
	}

	/* fontのサイズ指定 */
	.font-bg{
		font-size: 50px;
	}
	.font-md{
		font-size: 32px;
	}
	.font-sm{
		font-size: 20px;
	}

	/* コンテンツの区切り用ボーダー */
	.box-border{
		border: 1px solid #D3D3D3;
	}

	/* select_tag */
	select{
		background-color: #292929;
		color: #fff;
		height: 34px;
	}

	body{
		margin-top: 110px;
	}
}

/* font名の指定 */
body{
	font-family: "Georgia";
}

/* リセットcss */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* clearfix */
.clearfix{
	content: "";
	display: block;
	clear: both;
}

/* user imageの形 */
.user_image{
	border: 1px solid black;
	border-radius: 50%;
}


/* jQueryの処理用 */
.outer{
	position: relative;
	margin-top: 10px;
	.cover{
		position: absolute;
		top: 80px;
		left: 10px;
		opacity: 0;
		text-shadow: 2px 2px 8px #fff;
		color: #292929;
	}
}

#flash_alert{
	font-size: 14px;
	color: red;
}


/* aタグのアニメーション */
.atag{
	text-decoration: none;
	a{
		text-decoration: none;
		&:hover{
			opacity: 0.6;
		}
	}
}

a{
	color: #292929;
}


/* textの中央寄せ */
.text-center{
	text-align: center;
	display: block;
}

/* 完了ボタン */
.done-btn{
	margin-top: 2px;
	background-color: #292929;
	color: #fff;
	&:hover{
		background-color: #5D5D5D;
		color: #fff;
	}
}