// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ------------------- PCのレスポンシブ ------------------- */

@media screen and (min-width: 991px) {



	.container{
		margin: 70px auto 60px auto;
	}

	body{
		margin: 80px 0 60px 0;
	}

	/* ----- 横幅の指定 ----- */

	.width-xl{
		width: 100%;
	}

	.width-l{
		width: 85%;
	}

	.width-m{
		width: 60%;
	}

	.width-s{
		width: 45%
	}

	.width-xs{
		width: 30%;
	}

	/* ----- 横に4要素を並べる ----- */

	.contents-size{
		width: 24%;
		height: 350px;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 18px;
		padding-bottom: 10px;
		float: left;
		overflow: hidden;
	}

	/* ----- 横に4要素を並べる(高さ指定なし) ----- */

	.contents-size-auto{
		width: 24%;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 19px;
		padding-bottom: 10px;
		float: left;
		background-color: #fff;
	}

	/* ----- fontのサイズ指定 ----- */

	.font-xl{
		font-size: 9rem;
	}

	.font-l{
		font-size: 7rem;
	}

	.font-m{
		font-size: 5rem;
	}

	.font-s{
		font-size: 4rem;
	}

	.font-xs{
		font-size: 2rem;
	}





	/* ----- トップ画面(未ログイン) ----- */

	.top{
		width: 100%;
		z-index: 0;
		.top-contents1{
			background-attachment: fixed;
			background-image: image-url("top-image.jpg");
			background-position: center;
			background-size: cover;
			height: 800px;
			padding-top: 300px;
			width: 100%;
			.top-contents1-inner{
				margin: 0 auto;
				width: 60%;
				.top-contents1-title{
					animation: blink 1.7s ease-in-out infinite alternate;
					color: #fff;
					line-height: 100px;
					-moz-animation: blink 1.7s ease-in-out infinite alternate;
					text-shadow: 0px 0px 5px #fff;
					-webkit-animation: blink 1.7s ease-in-out infinite alternate;
					@keyframes blink{
						0% {opacity: 0;}
						100% {opacity: 1;}
					}
					@-moz-keyframes blink{
						0% {opacity: 0;}
						100% {opacity: 1;}
					}
					@-webkit-keyframes blink{
						0% {opacity: 0;}
						100% {opacity: 1;}
					}
				}
			}
		}
		.top-contents2,
		.top-contents3,
		.top-contents4{
			background-position: center;
			background-size: cover;
			height: 800px;
			width: 100%;
		}
		.top-contents3,
		.top-contents4{
			padding-top: 350px;
		}
		.top-contents2{
			background-image: image-url("top-image2.jpg");
			padding-top: 300px;
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px black;
			}
		}
		.top-contents3{
			background-attachment: fixed;
			background-image: image-url("top-image3.jpg");
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px black;
			}
		}
		.top-contents4{
			background-image: image-url("top-image4.jpg");
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px #fff;
			}
		}
		.top-contents5{
			height: 800px;
			margin-top: 50px;
			width: 100%;
			div{
				background-position: center;
				background-size: cover;
				height: 100%;
				padding-top: 400px;
				strong{
					a{
						color: #fff;
						text-decoration: none;
					}
				}
			}
			div:first-child{
				background-image: image-url("top-image5.jpg");
			}
			div:nth-child(2){
				background-image: image-url("top-image7.jpg");
			}
			div:last-child{
				background-image: image-url("top-image6.jpg");
			}
		}
	}

	/* ----- タイムライン(ログイン済top画面) ----- */

	.timeline{
		margin: 120px auto;
		width: 75%;
		.left{
			float: left;
			margin-bottom: 80px;
			width: 70%;
			.post{
				.cloth_image{
					height: auto;
					width: 50%;
				}
			}
		}
		.right{
			background-color: #fff;
			border: 1px solid #292929;
			float: left;
			position: fixed;
			right: 100px;
			width: 30%;
			.inner{
				a{
					text-decoration: none;
					&:hover{
						opacity: 0.8;
					}
				}
				img{
					display: block;
					margin: 20px auto;
				}
				span{
					display: block;
					margin-bottom: 20px;
				}
			}
		}
	}



	/* ----- アバウト画面 ----- */

	.about{
		width: 100%;
		.about-contents1{
			background-attachment: fixed;
			background-image: image-url("about-image.jpg");
			background-position: center;
			background-size: cover;
			height: 300px;
			padding-top: 120px;
			width: 100%;
			strong{
				color: #fff;
			}
		}
		.about-contents2{
			margin: 20px auto;
			padding-bottom: 35px;
			width: 55%;
		}
		.about-contents3{
			background-attachment: fixed;
			background-image: image-url("top-image6.jpg");
			background-position: center;
			background-size: cover;
			height: 350px;
			padding-top: 120px;
			width: 100%;
			strong{
				a{
					color: #fff;
					text-decoration: none;
					text-shadow: 0px 0px 5px #fff;
					-webkit-animation: blink 1.7s ease-in-out infinite alternate;
					-moz-animation: blink 1.7s ease-in-out infinite alternate;
					animation: blink 1.7s ease-in-out infinite alternate;
				}
				@-webkit-keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@-moz-keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
			}
		}
	}

	/* ----- ヘッダー ----- */

	.header{
		background-color: #292929;
		height: 80px;
		padding: 0 20px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1000;
		a{
			color: white;
			float: left;
			font-size: 20px;
			line-height: 80px;
			padding: 0 20px;
		}
		.header-links{
			i{
				display: none;
			}
		}
		#nav{
			display: none;
		}
		span{
			text-align: left;
		}
	}
	.header.sticky{
		/* ----- ヘッダー固定 ----- */
		opacity: 0.95;
		position: fixed;
		top: 0;
	}


	/* ----- フッター ----- */

	.footer{
		background-color: #292929;
		bottom: 0;
		height: 60px;
		opacity: 0.95;
		position: relative;
		position: fixed;
		text-align: center;
		width: 100%;
		strong{
			color: #fff;
			line-height: 60px;
		}
		#to-top{
			/* ----- ページ上部に戻るボタン ----- */
			bottom: 75px;
			color: #fff;
			font-size: 50px;
			position: absolute;
			right: 80px;
			text-shadow: 0px 0px 5px black;
			z-index: 1000;
			&:hover{
				opacity: 0.8;
			}
		}
	}



	/* ----- ログイン、サインアップのフォーム ----- */

	.form-table{
		table-layout: fixed;
		th{
			width: 100px;
		}
	}

	.signin{
		background-attachment: fixed;
		background-image: image-url("signin-image.jpg");
		background-position: center;
		background-size: cover;
		height: 789px;
		padding-top: 150px;
		width: 100%;
	}

	/* ----- プロフィール画面 ----- */

	.mypage{
		.upper{
			margin: 30px auto;
			width: 100%;
			div{
				float: left;
				height: 400px;
			}
			.left{
				width: 30%;
				img{
					display: block;
					margin: 0 auto;
				}
			}
			.right{
				width: 30%;
				.introduction{
					width: 80%;
					height: 100px;
					margin: 0 10%;
					margin-bottom: 10px;
					border: 1px solid #292929;
					overflow-y: scroll;
					background-color: #fff;
				}
			}
		}
		.lower{
			width: 100%;
			.tab{
				list-style: none;
				li{
					background-color: #fff;
					border: 1px solid black;
					display: inline-block;
					height: 40px;
					width: 48%;
					a{
						color: #292929;
						line-height: 40px;
						padding: 0 10px;
						text-decoration: none;
					}
					a.active{
						color: #fff;
					}
				}
				li.active{
					background-color: #292929;
				}
			}
			.tab-contents{
				width: 100%;
				.tab-contents-inner{
					margin: 0 auto;
					height: 400px;
					width: 100%;
					.brand-tab{
						display: inline-block;
						overflow-x: scroll;
						list-style: none;
						text-align: center;
						white-space: nowrap;
						li{
							border: 1px solid black;
							display: inline-block;
							background-color: #fff;
							height: 40px;
							a{
								color: #292929;
								text-decoration: none;
								padding: 0 10px;
								line-height: 40px;
							}
							a.active{
								color: #fff;
							}
						}
						li.active{
							background-color: #292929;
						}
					}
					.brand-contents{
						width: 100%;
						.brand-contents-inner{
							margin: 0 auto;
							width: 100%;
						}
					}
					.category-tab{
						overflow-x: scroll;
						text-align: center;
						white-space: nowrap;
						li{
							background-color: #fff;
							border: 1px solid black;
							display: inline-block;
							height: 40px;
							a{
								color: #292929;
								line-height: 40px;
								padding: 0 10px;
								text-decoration: none;
							}
							a.active{
								color: #fff;
							}
						}
						li.active{
							background-color: #292929;
						}
					}
					.category-contents{
						width: 100%;
						.category-contents-inner{
							height: 400px;
							margin: 0 auto;
							width: 100%;
						}
					}
				}
			}
		}
	}


	/* ----- プロフィール編集画面 ----- */
	.profile-edit{
		.profile-edit-left{
			float: left;
			margin: 0 auto;
			.user_image{
				border: 1px solid black;
				border-radius: 50%;
				margin: 0 auto;
				overflow: hidden;
			}
			.edit-image{
				.checkbox{
					display: inline-block;
					margin: 0;
				}
				input{
					margin: 0 0 0 150px;
				}
			}
		}
		.profile-edit-right{
			float: left;
			margin-top: 100px;
			margin-left: 100px;
			text-align: left;
			.form-field{
				width: 300px;
			}
			.form-area{
				height: 100px;
				width: 300px;
			}
		}
	}

	/* ----- フォロー一覧画面 ----- */

	.follow{
		.follow-link{
			display: block;
			margin: 50px auto;
			a{
				text-decoration: none;
			}
			a:hover{
				opacity: 0.8;
			}
		}
		.follow-tag{
			margin: 50px auto;
			text-align: center;
			li{
				background-color: #fff;
				border: 1px solid black;
				display: inline-block;
				height: 61px;
				width: 48%;
				a{
					color: #292929;
					line-height: 61px;
					padding: 0 10px;
					text-decoration: none;
				}
				a.active{
					color: #fff;
				}
			}
			li.active{
				background-color: #292929;
			}
		}
		.follow-contents{
			height: 400px;
			margin: 0 auto;
			width: 100%;
		}
	}

	/* ----- 新規投稿画面 ----- */

	.cloth-new{
		.preview{
			float: left;
			margin: 0 8%;
			width: 30%;
			div{
				border: 1px solid #292929;
				margin: 0 auto;
				strong{
					font-size: 30px;
					line-height: 350px;
				}
			}
		}
		.new{
			float: left;
			width: 50%;
		}
	}


	/* ----- 投稿編集画面 ----- */

	.cloth-edit{
		.before-edit{
			float: left;
			margin: 0 9%;
			width: 30%;
		}
		.edit{
			float: left;
			widh: 50%;
		}
	}



	/* ----- 検索画面 ----- */

	.search{
		background-attachment: fixed;
		background-image: image-url("search-image.jpg");
		background-position: top;
		background-size: cover;
		height: 500px;
		padding-top: 100px;
		width: 100%;
		strong{
			color: #fff;
		}
	}
}