// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---------------- タブレットのレスポンシブ ---------------- */

@media screen and (min-width: 415px) and (max-width: 990px){

	body{
		margin-top: 50px;
	}

	.container{
		margin-top: 50px;
		margin-bottom: 35px;
	}

	.contents-size-top{
		width: 32%;
		height: 350px;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 18px;
		padding-bottom: 10px;
		float: left;
		overflow: hidden;
	}

	/* ----- 横に3要素を並べる ----- */
	.contents-size{
		width: 32%;
		height: 350px;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 18px;
		padding-bottom: 10px;
		float: left;
		overflow: hidden;
	}

	/* ----- 横に3要素を並べる(高さ指定なし) ----- */

	.contents-size-auto{
		width: 32%;
		margin-bottom: 1%;
		margin-right: 1%;
		padding-left: 19px;
		padding-bottom: 10px;
		float: left;
	}



	/* ----- 横幅の指定 -----  */

	.width-xl{
		width: 90%;
	}

	.width-l{
		width: 85%;
	}

	.width-m{
		width: 55%;
	}

	.width-s{
		width: 50%
	}

	.width-xs{
		width: 40%;
	}

	/* ----- fontのサイズ指定 ----- */

	.font-xl{
		font-size: 7rem;
	}

	.font-l{
		font-size: 5rem;
	}

	.font-m{
		font-size: 3.5rem;
	}

	.font-s{
		font-size: 2.5rem;
	}

	.font-xs{
		font-size: 1.5rem;
	}

	/* ----- トップ画面(未ログイン) ----- */

	.top{
		width: 100%;
		z-index: 0;
		.top-contents1{
			background-attachment: fixed;
			background-image: image-url("top-image.jpg");
			background-position: center;
			background-size: cover;
			height: 702px;
			padding-top: 300px;
			width: 100%;
			.top-contents1-inner{
				margin: 0 auto;
				width: 80%;
				.top-contents1-title{
					animation: blink 1.7s ease-in-out infinite alternate;
					color: #fff;
					line-height: 70px;
					-moz-animation: blink 1.7s ease-in-out infinite alternate;
					text-shadow: 0px 0px 5px #fff;
					-webkit-animation: blink 1.7s ease-in-out infinite alternate;
					@keyframes blink{
						0% {opacity: 0;}
						100% {opacity: 1;}
					}
					@-moz-keyframes blink{
						0% {opacity: 0;}
						100% {opacity: 1;}
					}
					@-webkit-keyframes blink{
						0% {opacity: 0;}
						100% {opacity: 1;}
					}
				}
			}
		}
		.top-contents2,
		.top-contents3,
		.top-contents4{
			background-position: center;
			background-size: cover;
			height: 702px;
			width: 100%;
		}
		.top-contents3,
		.top-contents4{
			padding-top: 300px;
		}
		.top-contents2{
			background-image: image-url("top-image2.jpg");
			padding-top: 300px;
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px black;
			}
		}
		.top-contents3{
			background-attachment: fixed;
			background-image: image-url("top-image3.jpg");
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px black;
			}
		}
		.top-contents4{
			background-image: image-url("top-image4.jpg");
			strong{
				color: #fff;
				text-shadow: 0px 0px 5px #fff;
			}
		}
		.top-contents5{
			height: 702px;
			margin-top: 30px;
			width: 100%;
			div{
				background-position: center;
				background-size: cover;
				height: 100%;
				padding-top: 300px;
				strong{
					a{
						color: #fff;
						text-decoration: none;
					}
				}
			}
			div:first-child{
				background-image: image-url("top-image5.jpg");
			}
			div:nth-child(2){
				background-image: image-url("top-image7.jpg");
			}
			div:last-child{
				background-image: image-url("top-image6.jpg");
			}
		}
	}

	/* ----- タイムライン(ログイン済top画面) ----- */

	.timeline{
		margin: 60px auto;
		width: 75%;
		.left{
			float: left;
			margin-bottom: 80px;
			width: 70%;
			.post{
				.cloth_image{
					height: auto;
					width: 50%;
				}
			}
		}
		.right{
			background-color: #fff;
			border: 1px solid #292929;
			float: left;
			position: fixed;
			right: 20px;
			width: 30%;
			.inner{
				a{
					text-decoration: none;
					&:hover{
						opacity: 0.8;
					}
				}
				img{
					width: 150px;
					height: 150px;
					display: block;
					margin: 10px auto;
				}
				span{
					display: block;
					margin-bottom: 10px;
				}
			}
		}
	}


	/* ----- アバウト画面 ----- */

	.about{
		width: 100%;
		.about-contents1{
			background-attachment: fixed;
			background-image: image-url("about-image.jpg");
			background-position: center;
			background-size: cover;
			height: 200px;
			padding-top: 80px;
			width: 100%;
			strong{
				color: #fff;
			}
		}
		.about-contents2{
			margin: 20px auto;
			padding-bottom: 35px;
			width: 55%;
		}
		.about-contents3{
			background-attachment: fixed;
			background-image: image-url("top-image6.jpg");
			background-position: center;
			background-size: cover;
			height: 250px;
			padding-top: 80px;
			width: 100%;
			strong{
				a{
					color: #fff;
					text-decoration: none;
					text-shadow: 0px 0px 5px #fff;
					-webkit-animation: blink 1.7s ease-in-out infinite alternate;
					-moz-animation: blink 1.7s ease-in-out infinite alternate;
					animation: blink 1.7s ease-in-out infinite alternate;
				}
				@-webkit-keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@-moz-keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@keyframes blink{
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
			}
		}
	}



	/* ----- ヘッダー ----- */

	.header{
		background-color: #292929;
		height: 50px;
		padding: 0 10px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1000;
		.title{
			color: #fff;
			line-height: 50px;
			text-align: left;
		}
		.links{
			display: none;
		}
		i{
			color: #fff;
			line-height: 50px;
			padding-right: 10px;
		}
		#nav{
			/* ----- ナビゲーションメニュー ----- */
			background-color: rgba(0, 0, 0, 0.77);
			right: -170px;
			padding: 20px;
			position: fixed;
			top: 50px;
			transition: transform 0.9s;
			width: 170px;
			z-index: 1000;
			ul{
				list-style: none;
				li{
					font-size: 20px;
					margin-bottom: 20px;
					a{
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
		.open{
			/* ----- ナビゲーションメニューの開閉 ----- */
			transform: translate3d(-170px, 0, 0);
		}
		&.sticky{
			/* ----- ヘッダー固定 ----- */
			opacity: 0.95;
			position: fixed;
			top: 0;
		}
	}

	/* ----- フッター ----- */

	.footer{
		background-color: #292929;
		bottom: 0;
		height: 35px;
		opacity: 0.95;
		position: fixed;
		text-align: center;
		width: 100%;
		strong{
			color: #fff;
			line-height: 35px;
		}
		/* ----- ページ上部に戻るボタン ----- */

		#to-top{
			bottom: 60px;
			color: #fff;
			position: absolute;
			right: 50px;
			text-shadow: 0px 0px 5px black;
			z-index: 1000;
			&:hover{
				/* ----- ホバー時 ----- */
				opacity: 0.8;
			}
		}
	}


	/* ----- ログイン、サインアップ用のフォーム ----- */

	.form-table{
		table-layout: fixed;
		th{
			width: 88px;
		}
	}

	.signin{
		background-attachment: fixed;
		background-image: image-url("signin-image.jpg");
		background-position: center;
		background-size: cover;
		height: 702px;
		padding-top: 150px;
		width: 100%;
	}


	/* ----- マイページ ----- */

	.mypage{
		.upper{
			margin: 40px auto 20px auto;
			width: 100%;
			div{
				float: left;
				height: 340px;
			}
			.left{
				width: 30%;
				img{
					width: 220px;
					height: 220px;
					display: block;
					margin: 0 auto;
				}
			}
			.right{
				width: 50%;
				.introduction{
					width: 80%;
					height: 100px;
					margin: 0 10%;
					margin-bottom: 10px;
					border: 1px solid #292929;
					overflow-y: scroll;
					background-color: #fff;
				}
			}
		}
		.lower{
			width: 100%;
			.tab{
				list-style: none;
				li{
					background-color: #fff;
					border: 1px solid black;
					display: inline-block;
					height: 40px;
					width: 48%;
					a{
						color: #292929;
						line-height: 40px;
						padding: 0 10px;
						text-decoration: none;
					}
					a.active{
						color: #fff;
					}
				}
				li.active{
					background-color: #292929;
				}
			}
			.tab-contents{
				width: 100%;
				.tab-contents-inner{
					margin: 0 auto;
					height: 400px;
					width: 100%;
					.brand-tab{
						display: inline-block;
						overflow-x: scroll;
						list-style: none;
						text-align: center;
						white-space: nowrap;
						li{
							border: 1px solid black;
							display: inline-block;
							background-color: #fff;
							height: 40px;
							a{
								color: #292929;
								text-decoration: none;
								padding: 0 10px;
								line-height: 40px;
							}
							a.active{
								color: #fff;
							}
						}
						li.active{
							background-color: #292929;
						}
					}
					.brand-contents{
						width: 100%;
						.brand-contents-inner{
							height: 350px;
							margin: 0 auto;
							width: 100%;
						}
					}
					.category-tab{
						overflow-x: scroll;
						text-align: center;
						white-space: nowrap;
						li{
							background-color: #fff;
							border: 1px solid black;
							display: inline-block;
							height: 40px;
							a{
								color: #292929;
								line-height: 40px;
								padding: 0 10px;
								text-decoration: none;
							}
							a.active{
								color: #fff;
							}
						}
						li.active{
							background-color: #292929;
						}
					}
					.category-contents{
						width: 100%;
						.category-contents-inner{
							height: 350px;
							margin: 0 auto;
							width: 100%;
						}
					}
				}
			}
		}
	}

	/* ----- プロフィール編集 ----- */

	.profile-edit{
		padding-top: 30px;
		.profile-edit-left{
			width: 300px;
			float: left;
			img{
				width: 300px;
				height: 300px;
			}
			.checkbox{
				margin: 0;
				display: inline-block;
			}
			.edit-image{
				width: 300px;
			}
		}
		.profile-edit-right{
			width: 220px;
			float: left;
			margin: 60px 0 0 60px;
		}
	}

	/* ----- フォロー一覧画面 ----- */

	.follow{
		.follow-link{
			display: block;
			margin: 50px auto;
			a{
				text-decoration: none;
			}
			a:hover{
				opacity: 0.8;
			}
		}
		.follow-tag{
			margin: 50px auto;
			text-align: center;
			li{
				background-color: #fff;
				border: 1px solid black;
				display: inline-block;
				height: 45px;
				width: 48%;
				a{
					color: #292929;
					line-height: 45px;
					padding: 0 10px;
					text-decoration: none;
				}
				a.active{
					color: #fff;
				}
			}
			li.active{
				background-color: #292929;
			}
		}
		.follow-contents{
			height: 400px;
			margin: 0 auto;
			width: 100%;
		}
	}


	/* ----- 新規投稿画面 ----- */

	.preview{
		margin: 0 6%;
		width: 40%;
		float: left;
		div{
			margin: 0 auto;
			border: 1px solid #292929;
			height: 300px;
			strong{
				font-size: 15px;
				line-height: 300px;
			}
		}
	}
	.new{
		width: 44%;
		float: left;
	}


	/* ----- 投稿の編集画面 ----- */

	.before-edit{
		width: 40%;
		margin: 0 5%;
		float: left;
		img{
			width: 280px;
			height: 280px;
		}
	}
	.edit{
		width: 45%;
		float: left;
	}

	/* ----- 検索画面 ----- */

	.search{
		background-attachment: fixed;
		background-image: image-url("search-image.jpg");
		background-position: top;
		background-size: cover;
		height: 340px;
		padding-top: 70px;
		width: 100%;
		strong{
			color: #fff;
		}
	}
}