<div class="sidebar-box">
	<%= render 'layouts/sidebar' %>
</div>
<div class="category-index">
	<% @categories.each do |category| %>
		<%= link_to category_path(category.id) do %>
			<div class="category-index-box">
				<strong><%= category.category %></strong>
			</div>
		<% end %>
	<% end %>
</div>
