<strong class="font-bg text-center">
	<!-- カテゴリー名を表示 -->
	<%= @category.category %>
</strong>
<!-- カテゴリー毎の投稿を表示 -->
<% @category.cloths.each do |clothes| %>
	<div class="width-sm width-md width-bg box-border">
		<%= render 'clothes/index', clothes: clothes %>
	</div>
<% end %>