<strong class="font-bg text-center"><%= @category.category %></strong>
<div class="width-bg">
	<% @category.cloths.each do |clothes| %>
		<%= render 'clothes/index', clothes: clothes %>
	<% end %>
</div>