<footer class="footer">
	<% unless devise_controller? %>
	<!-- サインイン、サインアップ画面の時は非表示 -->
        <a>
        	<!-- aタグで囲むことでボタン認識させる -->
        	<%= icon 'far', 'arrow-alt-circle-up', id: "to-top", class: "font-m"%>
    	</a>
      <% end %>
	<strong class="text-center">©k1012g</strong>
</footer>